ul li a{
  color: purple;
  font-weight: bold;
}

.wafer{
  width: 100px;
}

.bin, .quantity{
  width:50px;
  margin: 5px;
}

.notes{
  margin: 22px;
}

.wafer-information{
  display: flex;
}

.wafer-information div{
  margin: 10px;
  margin-left: 30px;
}

.eta{
  display: flex;
}

.eta div{
  margin: 10px;
  margin-left: 30px;
  width: 50px;
}

#modules{
  display: flex;
}

#modules div{
  margin: 20px;
}

#modules input{
  opacity: 1;
}
